# Base path for local files to be synced
local_base_path: /path/to/your/local/base/directory

# File containing rules for excluding certain files/directories from sync. This follows the format that rclone expects. If this file is changed, the next run will be a resync operation as required by rclone
exclusion_rules_file: /path/to/your/filter.txt

# CPU usage limit as a percentage
max_cpu_usage_percent: 100

# Define the paths to be synchronized
sync_paths:
  example_sync:
    local: example_folder
    rclone_remote: your_remote
    remote: path/on/remote/storage
    sync_interval: 1h
    dry_run: true

# Rclone options
rclone_options:
  max_delete: 5
  log_level: INFO
  max_lock: 15m
  retries: 3
  low_level_retries: 10
  compare: "size,modtime,checksum"
  create_empty_src_dirs: null
  check_access: null
  exclude:
    - "*.tmp"
    - "*.log"
    - "._*"
    - ".DS_Store"
    - ".Spotlight-V100/**"
    - ".Trashes/**"
    - ".fseventsd/**"
    - ".AppleDouble/**"
    - ".VolumeIcon.icns"

# Bisync-specific options
bisync_options:
  conflict_resolve: newer
  conflict_loser: num
  conflict_suffix: rc-conflict
  track_renames: null
  # Add any additional bisync-specific options here
  # custom_bisync_option: value

# Resync-specific options
resync_options:
  error_on_no_transfer: null
  # Add any additional resync-specific options here
  # custom_resync_option: value