# Base path for local files to be synced
local_base_path: /path/to/your/local/base/directory

# File containing rules for excluding certain files/directories from sync. This follows the format that rclone expects. If this file is changed, the next run will be a resync operation
exclusion_rules_file: /path/to/your/filter.txt

# Directory where log files will be stored
log_directory: /path/to/your/log/directory

# Optional: CPU usage limit as a percentage. This will only have an effect if 'cpulimit' is installed
max_cpu_usage_percent: 100

# Define the paths to be synchronized
sync_paths:
  example_sync:
    local: example_folder # Local directory name (relative to local_base_path)
    rclone_remote: your_remote # Name of the rclone remote to use
    remote: path/on/remote/storage # Path on the remote storage
  # You can add more sync paths as needed:
  # another_sync:
  #   local: another_folder
  #   rclone_remote: another_remote
  #   remote: another/path/on/remote

# Rclone options
rclone_options:
  max_delete: 5
  log_level: INFO
  max_lock: 15m
  retries: 3
  low_level_retries: 10
  compare: "size,modtime,checksum"
  create_empty_src_dirs: false
  check_access: false
  track_renames: true
  size_only: false
  # Add any additional rclone options here

# Bisync-specific options
bisync_options:
  conflict_resolve: newer
  conflict_loser: num
  conflict_suffix: rc-conflict
  track_renames: true
  # Add any additional bisync-specific options here
  custom_bisync_option: value

# Resync-specific options
resync_options:
  error_on_no_transfer: true
  # Add any additional resync-specific options here
  custom_resync_option: value