[Unit]
Description=RClone BiSync Manager Daemon
After=network.target

[Service]
ExecStart=/usr/bin/rclone_bisync_manager.py daemon start
ExecStop=/usr/bin/rclone_bisync_manager.py daemon stop
Restart=on-failure

[Install]
WantedBy=default.target