[Unit]
Description=Rclone Bisync Daemon
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/g/dev/Gunther-Schulz/rclone-bisync-wrapper/src/rclone-bisync.py --daemon
User=g
Restart=on-failure

[Install]
WantedBy=multi-user.target